<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training OC Project</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ restaurantName }}</h1>
      <p class="description">
        Bienvenue dans notre café {{ restaurantName }} Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Saepe repudiandae, eum facilis magnam
        sed nam accusamus vero reiciendis accusantium, debitis natus? Deserunt,
        possimus fugiat! Id incidunt quia eligendi inventore assumenda?
      </p>

      <h2>Contactez nous</h2>
      <p>Adresse : {{ adress }}</p>
      <p>Téléphone : {{ phoneNumber }}</p>
      <p>Email : {{ email }}</p>
      <p>Horaires</p>
      <ul>
        <li>L-V: 06:00 à 16:00</li>
        <li>Samedi: 07:00 à 14:00</li>
        <li>Dimanche: 07:00 à 12:00</li>
      </ul>

      <!-- sum -->
      <h2>Exemple de prix</h2>
      <ul>
        <li>Café: {{ costOfCoffee }} €</li>
        <li>Crème: {{ costOfCream }} €</li>
        <li>Croissant: {{ costOfCroissant }} €</li>
      </ul>
      <p>Total: {{ totalAmount }} €</p>

      <!-- boucle for + link + sum -->
      <h2>Panier</h2>
      <ul>
        <li v-for="item in shoppingCart">
          <a v-bind:href="item.url">{{ item.label }}</a> : {{ item.cost }} €
        </li>
      </ul>
      <p>Total panier: {{ totalCart }} €</p>

      <!-- Si (if) l'utilisateur a les autorisations par défaut, afficher ce qui suit -->
      <section v-if="userPermission === 'default'">Utilisation v-if</section>
      <!-- Sinon et si l'utilisateur a les autorisations administrateur, afficher ce qui suit -->
      <section v-else-if="userPermission === 'admin'">
        Utilisation v-if-else
      </section>
      <!-- Si l'utilisateur n'a aucune autorisation afficher ce qui suit -->
      <section v-else>Utilisation v-else</section>

      <!-- v-show + button (toggle)-->
      <button @click="showModal = !showModal">Display Modal</button>
      <div v-show="showModal" class="modal">Affichage avec v-show</div>

      <!-- v-on + alert -->
      <div>
        <h2>Afficher une alerte</h2>
        <button @click="showColor">Cliquez ici</button>
      </div>
      <div>
        <label for="change-color">Afficher la couleur préférée saisie</label>
        <input id="change-color" type="text" @keyup.enter="changeColor" />
        <!-- <button @click="showColor">Afficher la couleur</button> -->
      </div>

      <!-- v-model -->
      <h2>Fomulaire</h2>
      <label for="username">Nom d'utilisateur</label>
      <input id="username" type="text" v-model="username" />
      <label for="pw">Mot de passe</label>
      <input id="pw" type="password" v-model="password" /> <br />
      Exemple de mise à jour de la data lors de la saisie : {{ username }}
      <!-- update année -->
      <footer class="footer">
        <h3>{{ copyright }}</h3>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          restaurantName: "El Restorante",
          adress: "18 avenue du Beurre, Paris, France",
          phoneNumber: "01 88 88 88 88",
          email: "hello@cafewithavue.bakery",
          // test sum
          costOfCoffee: 3,
          costOfCream: 1,
          costOfCroissant: 1.5,
          //test v-for
          shoppingCart: [
            {
              label: "Apple",
              cost: 10,
              url: "/apples.html",
            },
            {
              label: "Banana",
              cost: 23,
              url: "/banana.html",
            },
            {
              label: "Coconut",
              cost: 15,
              url: "/coconut.html",
            },
          ],
          userPermission: "admin",
          //v-show
          showModal: false,
          //v-on
          favoriteColor: "blue",
          //v-model
          username: "",
          password: "",
        },
        computed: {
          //test update date
          copyright() {
            const currentYear = new Date().getFullYear();

            return `Copyright ${this.restaurantName} ${currentYear}`;
          },
          //test sum
          totalAmount() {
            return this.costOfCoffee + this.costOfCream + this.costOfCroissant;
          },
          //test v-for
          totalCart() {
            let total = 0;

            this.shoppingCart.forEach((item) => {
              total += item.cost;
            });
            return total;
          },
        },
        methods: {
          //v-on color pr afficher la data
          showColor() {
            alert(this.favoriteColor);
          },
          //@click + @keyup.enter en récupérant la valeur saisie par l'ID
          changeColor() {
            this.favoriteColor = document.getElementById("change-color").value;
          },
        },
      });
    </script>
  </body>
</html>
